{% extends 'base.html' %}
{% block title %}
        Search Result
{% endblock title %}
{% block body %}
<div class="container">
    <h1>Result</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Book Name</th>
        <th scope="col">Author Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for data in datas %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{data.bname}}</td>
                <td>{{data.aname}}</td>
                <td>{{data.price}}</td>
                <td>
                    <a href="/purchase/{{data.id}}" type="button" class="btn btn-outline-info btn-sm mx-1">Buy Now</button>
                </td>
            </tr>
              {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}